<p id="notice"><%= notice %></p>


<table>
	<tr>
		<th>Name:</th>
		<th>Description:</th>
		<th></th>
		<th></th>
	</tr>
	<td><%= @doi.name %></td>
	<td><%= @doi.description %></td>
	<td><%= link_to 'Edit', edit_doi_path(@doi) %></td>
	<td><%= link_to 'Back', dois_path %></td>

</table>




<!-- <p>
  <strong>User:</strong>
  <%= @doi.user_id %>
</p> -->




<h1>Urls List</h1>
<%= link_to 'Create URL', new_doi_url_path(:doi_id => @doi.id)  , class: "button radius"%>
<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Doi</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doi.urls.each do |url| %>
      <tr>
        <td><%= url.url %></td>
        <td><%= url.doi_id %></td>
        <td><%= link_to 'Show', doi_url(url) %></td>
        <td><%= link_to 'Edit', edit_doi_url(url) %></td>
        <td class="alert"><%= link_to 'Destroy', doi_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<h1>Listing reviews</h1>
<%= link_to 'Add Review', new_doi_review_path(:doi_id => @doi.id)  , class: "button radius"%>
<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Doi</th>
    </tr>
  </thead>

  <tbody>
    <% @doi.reviews.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td><%= review.user_id %></td>
        <td><%= review.doi_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
